<template>
  <header>
    <img class="logo" src="/logo.png" alt="VUT FIT Logo">
    <h1>Subject Market</h1>
  </header>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: "Header"
})
</script>

<style scoped>
header {
  display: grid;
  align-items: center;
  grid-template-columns: min-content auto;
  gap: 1rem;
  padding: 0.5rem;
  border-bottom: 1px solid var(--c-divider-light-1);
  margin-bottom: 1rem;
}

.logo {
  height: 40px;
}

</style>