<template>

</template>

<script lang="ts">
import { createRouter, createWebHistory, RouteRecordRaw } from 'vue-router';
import RegisterPage from '../views/RegisterPage.vue';
import LoginPage from '../views/LoginPage.vue';
import NotFound from '../views/NotFoundPage.vue'
import CalendarPage from '../views/CalendarPage.vue';

const BASE_URL = import.meta.env.BASE_URL

const routes: readonly RouteRecordRaw[] = [
  { path: BASE_URL + '/calendar', name: 'Calendar', component: CalendarPage },
  { path: BASE_URL + '/register', name: 'Register', component: RegisterPage },
  { path: BASE_URL + '/login', name: 'Login', component: LoginPage },
  { path: BASE_URL + '/:pathMatch(.*)*', name: 'NotFound', component: NotFound }
]

const router = createRouter({
  history: createWebHistory(/*TODO maybe add the process.env.BASE_URL here*/),
  routes: routes
})

export default router
</script>

<style scoped>

</style>