<template>
  <SubjectSearchBar @change="querySubjects">
    <!--<SubjectItem abbreviation="IDM" name="Diskretna matematika"/>-->
    <!--<SubjectItem abbreviation="ILG" name="Linearna algebra"/>-->
    <!--<SubjectItem abbreviation="IEL" name="Elektronika"/>-->
    <!--<SubjectItem abbreviation="IZP" name="Zaklady programovani"/>-->
    <SubjectItem v-for="subject in subjects" :abbreviation="subject.abbreviation"
                 :name="subject.name"/>
  </SubjectSearchBar>
  <Calendar></Calendar>
</template>

<script lang="ts">
import Calendar from '../components/partials/Calendar.vue';
import { defineComponent } from 'vue';
import SubjectSearchBar from '../components/partials/SubjectSearchBar.vue';
import SubjectItem from '../components/partials/SubjectItem.vue';


interface Subject {

  name: string
  abbreviation: string
}

interface Data {
  subjects: Subject[]
}

export default defineComponent({
  name: 'CalendarPage',
  components: {Calendar, SubjectSearchBar, SubjectItem},
  data(): Data {
    return {
      subjects: []
    }
  },
  methods: {
    async querySubjects(text: string) {
      console.log("CHANGE!: " + text)
      const response = await this.axios.get(`/api/v1/subjects?filter=${text}`)
      console.log()
      this.subjects = response.data
      console.log(this.subjects)
    }
  }
  // mounted() {
  //   this.querySubjects()
  // }
})
</script>

<style scoped>

</style>