<template>
    <div class="container">
        <h2>Login</h2>
        <form class="form">
            <div class="email">
                <input type="email" id="email" placeholder="email" v-model="email" />
            </div>
            <div class="password">
                <input type="password" id="password" placeholder="password" v-model="password" />
            </div>
            <div class="submit">
                <button @click.prevent="loginUser(email, password)" type="submit">Login</button>
            </div>
        </form>
    </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
    data() {
        return {
            email: '',
            password: ''
        }
    },
    methods: {
        loginUser(email: String, password: String) {
            if (email == '' || password == '') {
                return;
            }
            console.log(`${email} ${password}`);
            //zavolat na API pre prihlasenie

        }
    }
})
</script>

<style lang="scss" scoped>
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
</style>