<template>
    <div class="container">
        <img src="https://media.tenor.com/d086R-OLrvcAAAAM/deserted.gif" alt="">
        <br>
        <p>
            {{ msg }}
        </p>
    </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
    data() {
        return {
            msgs: [
                "Looks like you took a wrong turn somewhere.",
                "Whoops, this page is missing in action.",
                "404 Error: Page not found. But don't worry, we have plenty of jokes.",
                "This page is lost, but at least you found a new friend in me.",
                "I guess you stumbled upon a dead end.",
                "404 Error: The page you're looking for has vanished into thin air.",
                "Don't worry, the page you're looking for is just hiding.",
                "You found a 404 error. But don't worry, you're not the first person to make a mistake.",
                "This page is taking a coffee break, please come back later.",
                "404 Error: The page you're looking for is in another castle.",
                "Looks like this page has gone for a walk.",
                "This page is playing hide and seek, better luck next time.",
                "404 Error: The page you're looking for has gone on vacation.",
                "Whoops, the page you're looking for has run away.",
                "This page is taking a nap, please come back later.",
                "404 Error: The page you're looking for has gone rogue.",
                "The page you're looking for is lost, but you can always find something interesting here.",
                "404 Error: The page you're looking for is playing hooky.",
                "This page is nowhere to be found, better luck next time.",
                "404 Error: The page you're looking for is out to lunch.",
            ],
            msg: '',
        }
    },
    created() {
        this.msg = this.msgs[Math.floor(Math.random() * this.msgs.length)]
    }
})
</script>

<style lang="scss" scoped>
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;

    h1 {
        font-size: 3.2rem;
    }

    img {
        border-radius: 24px;
    }
}
</style>