<template>
    <div class="container">
        <h2>Register</h2>
        <form class="form">
            <div class="email">
                <input type="email" id="email" placeholder="email" v-model="email" />
            </div>
            <div class="password">
                <input type="password" id="password" placeholder="password" v-model="password" />
            </div>
            <div class="password">
                <input type="password" id="confirmPassword" placeholder="confirm password"
                    v-model="confirmedPassword" />
            </div>
            <div class="submit">
                <button type="submit"
                    @click.prevent="registerUser(email, password, confirmedPassword)">Register</button>
            </div>
        </form>
    </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
    data() {
        return {
            email: '',
            password: '',
            confirmedPassword: '',
        }
    },
    methods: {
        registerUser(email: String, password: String, confirmedPassword: String) {
            if (email == '' || password == '' || confirmedPassword == '') {
                alert("Please fill in all input fields");
                return;
            }
            if (password != confirmedPassword) {
                alert("Passwords dont match up.");
                this.password = '';
                this.confirmedPassword = '';
                return;
            }

            console.log(email, password, confirmedPassword);
            //zavolat na API na registraciu

        }
    }
})
</script>

<style lang="scss" scoped>
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
</style>