<template>
  <div class="calendar-wrapper">
    <div class="calendar">
      <div v-for="x in days.length" class="day">
        <div class="day__header" :style="{backgroundColor: `hsl(${x * 50 + 50}, 50%, 40%)`}">{{ days[x - 1] }}</div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import {defineComponent} from 'vue';

export default defineComponent({
  name: "Calendar",
  data() {
    return {
      days: ["Mon", "Tue", "Weed", "Thu", "Fri"]
    }
  }
})

</script>

<style scoped>
.calendar-wrapper {
  overflow-x: scroll;
  margin-inline: auto;
  width: min(800px, 95%);
}

.calendar {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.day {
  display: grid;
  grid-template-rows: repeat(10, auto);
}

.day__header {
  /*font-size: 1em;*/
  text-align: center;
  font-weight: bold;
  padding: 0 0.5rem;
}
</style>