<template>
  <div class="search-box">
    <div class="search-bar">
      <div class="search-icon"/>
      <input type="text" @input="handleInput">
    </div>
    <div class="search-results-wrapper">
      <div class="search-results">
        <slot/>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import SubjectItem from './SubjectItem.vue';

export default defineComponent({
  name: 'SubjectSearchBar',
  components: {SubjectItem},
  methods: {
    handleInput(e: Event) {
      this.$emit('change', (e.target as HTMLInputElement).value)
    }
  },
  emits: ['change']
})
</script>

<style scoped>
.search-box {
  width: min(95%, 500px);
  position: relative;

  /* Centering */
  left: 50%;
  transform: translateX(-50%);
}

.search-bar {
  display: grid;
  align-items: center;
  padding: 0.4rem 0.8rem;
  border: 1px solid var(--c-gray-dark-1);
  grid-template-columns: min-content auto;
  border-radius: var(--search-box-border-radius) var(--search-box-border-radius) 0 0;
  margin-inline: auto;
  background-color: var(--c-gray-dark-5);
  margin-bottom: 2em;
  height: 3rem;
}

.search-results-wrapper {
  width: 100%;
  position: absolute;
  margin-inline: auto;
  border-radius: 0 0 var(--search-box-border-radius) var(--search-box-border-radius);
  border: 1px solid var(--c-gray-dark-1);
  overflow: hidden;
  background-color: var(--c-gray-dark-4);
  z-index: 1;
  top: 3rem;
}

.search-results {
  display: grid;
  grid-auto-rows: auto;
  max-height: 15rem;
  overflow-y: scroll;
  padding: 0.25rem 0;
}

input {
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 1.1em;
  width: 100%;
}

.search-icon {
  background-color: var(--c-gray-dark-1);
  aspect-ratio: 1;
  width: 24px;
  -webkit-mask: url(public/icons8-search.svg) no-repeat;
  mask: url(public/icons8-search.svg) no-repeat;
}
</style>