<template>
  <div class="subject-item">
    <div class="subject-item__abbreviation">{{ abbreviation }}</div>
    <span class="subject-item__name">{{ name }}</span>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'SubjectItem',
  props: {
    abbreviation: String,
    name: String
  }
})
</script>

<style scoped>
.subject-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem;

  padding: 0.2rem 1rem;
  user-select: none;
  cursor: default;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.subject-item:hover {
  background-color: var(--c-gray-dark-3);
}

.subject-item__abbreviation {
  border-radius: 5px;
  padding: 0 3px;
  background-color: var(--c-purple-dark);
}
</style>